@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.roboto-condensed{
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

/* 

PALETA DE COLORES

1-0d1321
2-1d2d44
3-3e5c76
4-748cab
5-f0ebd8

 */

body{
    font-family: "Roboto Condensed", serif;

    margin: 0;
    padding: 0;

    background: #0D1321;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100dvh;

    padding: 0;
}

.h2{
    color: #fff;
}

.span{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.Form{
    width: 90%;
    height: auto;

    border: 0 solid;
    border-radius: 0%;
    box-sizing: border-box;

    margin: 0;
    padding: 20px;  
}

.form-label{
    color: #fff;
    font-size: 1.2rem;
    margin: 0;
}

.form-control{
    color: #000;
    font-size: 1rem;
    margin: 0 0 8px 0px;
}

.center-class{
    display: flex;
    justify-content: center;
}

/* Inputs */
.form-personalizado{
    outline: none;
    box-shadow: none;
    border: 0 solid;
}

.form-personalizado:focus{
    outline: none;
    box-shadow: none;
    border: 0 solid;
}

/* Button */
.btn-personalizado{
    width: 40%;
    margin: 8px 0;

    background: #0D1321;
    color: #fff;

    border: 2px solid #fff;
    cursor: pointer;

    transition: all 0.3s ease-in-out;
}

.btn-personalizado:focus{
    background: #fff;
    color: #000;

    border: 2px solid #fff;
    box-shadow: none;
}

.btn-personalizado:focus:not(:focus-visible){
    box-shadow: none;
}

.btn-personalizado:hover{
    background: #fff;
    color: #000;

    border: 2px solid #fff;
}

.btn-primary:active{
    color: #ffffff;
    background-color: #0D1321 !important;

    border: 2px solid #fff !important;
}

/*
Diseño responsive para el formulario de registro
*/

/* Moviles */

/* Para Iphone */
/* @media (max-width: 450px){
    .container{
        width: 90%;
        
        height: 100dvh;
        max-height: 896px;
    }
} */

/* Para Ipads grandes */
/* @media (min-with: 768px){
    .container{
        width: 90%;
        
        height: 100dvh;
    }
} */

/* Para pantallas medianas */
/* @media (min-width: 1024px){
    .container{
        width: 90%;
        
        height: 100dvh;
    }
} */

/* Para pantallas grandes */
/* @media (min-width: 1280px){
    .container{
        width: 90%;
        
        height: 100dvh;
    }
} */

/* Para pantallas muy grandes */
/* @media (min-width: 1920px){
    .container{
        width: 90%;
        
        height: 100dvh;
    }
} */

/* @media (max-width: 1920px){
    .container{
        width: 90%;
        
        height: 100dvh;
    }
} */